<!DOCTYPE html>
<HTML>

  {% extends 'layout.html' %}
  {% block body %}

    <head>
        <title>Coria Salon App</title>
    </head>

    <header id="logo"></header>


    <div class="card card-body">
    <form action="/nuevo_trabajo" method="POST">
      <div class="form-group">
        <select class="form-control" name="artista">
            <option selected value="0"> Elige un artista </option>
            <option value="Martin">Martin</option> 
            <option value="Sergio">Sergio</option>
            <option value="Luciana">Luciana</option>  
          </select>
      </div>
      <div class="form-group">
        <select class="form-control" name="trabajo_realizado">
            <option selected value="0"> Elige una opción </option>
            <option value="Baraba">Barba</option> 
            <option value="Color">Color</option> 
            <option value="Corte">Corte</option>
            <option value="Corte+Color">Corte + Color</option> 
            <option value="Corte+Barba">Corte + Barba </option> 
            <option value="Uñas">Uñas</option> 
          </select>
      </div>
      <div class="form-group">
        <input type="int" class="form-control" name="precio" placeholder="Precio">
      </div>
      <div class="form-group">
        <button type='submit' class="btn btn-primary btn-block">
          Cargar 
        </button>
      </div>
    </form>
    </div>


    <nav class="nav pt-5">
      <ul>
        <a href="/index">Volver</a>
      </ul>
    </nav>

  {% endblock %}